# ULX3S FPGA hardware definition file
# --------------------------------------------
# pmod-charlcd connected to J2 (right side GPIO)
# --------------------------------------------
#LOCATE COMP "pinu_18" SITE U18; # D16
#LOCATE COMP "pin_u17" SITE U17; # D15
#LOCATE COMP "pin_n17" SITE N17; # D14
#LOCATE COMP "pin_p16" SITE P16; # D13
#LOCATE COMP "pin_n16" SITE N16; # D12
LOCATE COMP "lcd_rs"   SITE M17; # D11
LOCATE COMP "lcd_rw"   SITE L16; # D10
LOCATE COMP "lcd_en"   SITE L17; # D9
LOCATE COMP "lcd_d[0]" SITE C18; # D8
LOCATE COMP "lcd_d[1]" SITE D17; # D7
LOCATE COMP "lcd_d[2]" SITE B15; # D6
LOCATE COMP "lcd_d[3]" SITE C15; # D5
LOCATE COMP "lcd_d[4]" SITE B17; # D4
LOCATE COMP "lcd_d[5]" SITE C17; # D3
LOCATE COMP "lcd_d[6]" SITE C16; # D2
LOCATE COMP "lcd_d[7]" SITE D16; # D1

IOBUF PORT "lcd_rs"   PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_rw"   PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_en"   PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_d[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_d[1]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_d[2]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_d[3]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_d[4]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_d[5]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_d[6]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "lcd_d[7]" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "clk" SITE G2;
IOBUF PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "rst"    SITE R1;  # Button B1 Fire-1
IOBUF PORT "rst"    PULLMODE=DOWN IO_TYPE=LVCMOS33;


LOCATE COMP "btn_f2"    SITE T1;  # Button B2 Fire-2
LOCATE COMP "btn_up"    SITE R18; # Button B3 Up
LOCATE COMP "btn_down"  SITE V1;  # Button B4 Down
LOCATE COMP "btn_left"  SITE U1;  # Button B5 Left
LOCATE COMP "btn_right" SITE H16; # Button B5 Right

IOBUF PORT "btn_f2"    PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btn_up"    PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btn_down"  PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btn_left"  PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btn_right" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE B2;
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[1]" SITE C2;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[2]" SITE C1;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[3]" SITE D2;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[4]" SITE D1;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[5]" SITE E2;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[6]" SITE E1;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[7]" SITE H3;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpio0" SITE L2;
IOBUF PORT "gpio0" IO_TYPE=LVCMOS33;
